/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

#anc{
	-fx-background-image: url("comment.jpg");
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position:center;
	-fx-pref-width: 300.0;
    -fx-pref-height: 100.0;
	-fx-background-color:tomate;

}

